

@media (max-width: 768px) {
  .card-grid {
    display: flex !important; /* force flex for swipe */
    flex-wrap: nowrap !important;
    gap: 1rem !important;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 0 1rem !important;
    max-width: 100%;
  }
  .card-grid::-webkit-scrollbar {
    display: none; /* hide scrollbar */
  }
   .card {
     min-width: 100px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .card.show-on-scroll {
    opacity: 1;
    transform: translateY(0);
  }

  .card span {
    font-size: 2rem;
  }

  .card h2 {
    font-size: 1rem;
  }
}


@media (max-width: 480px) {
  .card {
    padding: 1.2rem;
  }

  .card span {
    font-size: 1.8rem;
  }

  .card h2 {
    font-size: 0.95rem;
  }
}



